{% extends 'base.html' %}
{% block title %}{{user.first_name}}&nbsp;{{user.last_name}}{% endblock %}

{% block content %}
    
    <table>
      <tr>
        <td rowspan="2"><img src="{{user.image_url}}" width="200"</td>
        <td><h1>{{user.first_name}}&nbsp;{{user.last_name}}</h1></td>
      </tr>
      <tr>
        <td>
          <form action="/user_edit/{{user.id}}" method="POST">
            <input type="text" name="first_name" value="{{user.first_name}}"/>
            <input type="submit" name="save_cancel" value="Save Changes">&nbsp;&nbsp;&nbsp<input type="submit" name="edit_delete" value="Cancel">
          </form>
        </td>
      </tr>
    </table>

{% endblock %}
